@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid' ;
    src: url('fontes/idroid.otf');
    format: ('opentype');
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0:  #2b7e1f ;
    --cor1:  #449636 ;
    --cor2:  #5cae4c ;
    --cor3:  #75c663 ;
    --cor4:  #8ede79 ;
    --cor5:  #a6d999 ;
    --fonte-padrao: 'bebas neue', Cursive;
    --fonte-destaque: arial, verdana, Helvetica, sans-serif;
    --fonte-titulo: 'idroid', Cursive;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: url('./imagens/fundo.jpg');
    display: block;
}

header{
    background-image: linear-gradient( to bottom, #8ede79, #2b7e1f);
    text-align: center;
    padding: 30px;
}

header > h1{
    font-family: var(--fonte-padrao);
    padding: 10px;
    color:white;
    text-shadow: 0px 0px 15px #205e17 ;
    font-size: 3em;
    margin: auto;
}

header > p{
    color:white;
    text-align: center;
    font-family: var(--fonte-destaque);
    margin: auto;
    max-width: 600px;
}

nav{
    background-color: #205e17;
    text-align: center;
    padding: 5px;
}

nav > button{
    color:rgb(255, 255, 255);
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 0px 10px 0px 10px;
    background-color: #215e17;
    border: 0px;
    border-radius: 10px;
    max-width: 600px;
    font-size: 1.5em;
}

button:hover{
    background-color: #2b7e1f;
    border-radius: 10px;
    color: black;
    transition-duration: 1s;
}

main{
    min-width: 270px;
    max-width: 800px;
    margin: 0px auto 10px auto;
    padding: 10px;
    box-shadow: 0px 0px 5px #205e17;
    background-color: var(--cor5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-family: var(--fonte-padrao);
    padding: 0px 0px 20px 0px;
    font-size: 2em;
    color: #11280efc;
    text-shadow: 0px 1px 5px #215e1736;
    margin: auto;
    text-align: center;
}

main h2{
    font-family: var(--fonte-padrao);
    padding: 0px 0px 0px 4px;
    margin: 10px;
    font-size: 1.5em;
    color: #020501;
    text-shadow: 0px 1px 5px #215e1768;
    background-image: linear-gradient( to right, #8dde798a, #2c7e1f00);
}

main p{
    text-indent: 20px;
    text-align: justify;
    padding: 10px;
    line-height: 1.5em;
}

main img {
    width: 100%;
}

.bugdroid{
    display: block;
    margin: auto;
    max-width: 230px;
}

div.video{
    background-color: #205e17;
    margin: 0px -10px 0px -10px ;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
}

iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor2);
    border-radius: 10px;
    padding: 10px;
    padding: 10px;
    margin: 20px 10px 0px 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.327);
}

aside > h3{
    background-color: var(--cor0);
    color:white;
    padding: 7px;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: none;
    list-style-position: inside;
    columns: 2;
    margin: 5px;
    line-height: 1.3em;
    text-align: center;

}

aside > p{
    padding: 15px 0px 0px 0px;;
    
}

li{
    font-size: 1em;
}

li:hover{
    background-color: var(--cor1);
    margin: 0px 10px;
}

footer{
    background-color: black;
    text-align: center;
    color:white;
}

footer a {
    text-decoration: none;
    color: white;
}